.loginParentDiv {

  margin:100px auto 80px;
  padding: 20px;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.3s;
  max-width: 250px;  
  background-color: white;
  box-shadow: 0 0px 25px #00000024;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;}

.loginParentDiv .input {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
}

.loginParentDiv button {
  width: 90%;
  height: 48px;
  /* border-color: transparent; */
  width: 90%;
  height: 48px;
  /* border-color: transparent; */
  background-color: whitesmoke;
  color: black;
  font-weight: 900;
  border-radius: 15px;

}

.loginParentDiv button:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
}

.loginParentDiv a {
  color: black;
  display: flex;
  justify-content: center;
  cursor: pointer;
}